# Cortellari IBS
Another attempt to filter out samples reling on king [king](https://www.kingrelatedness.com/) software.

In [1]:
import os

import pandas as pd

from src.features.smarterdb import global_connection, Dataset

In [2]:
conn = global_connection()

In [3]:
dataset = Dataset.objects.get(file="cortellari_et_al_2021.zip")

In [4]:
os.chdir(dataset.working_dir / "s41598-021-89900-2/")

Open the *king* output file: we know that there could be actually duplicated samples in the latest SMARTER database release, however let's focus on duplicates between SMARTER and the *cortellari* dataset:

In [5]:
king = pd.read_table("king.con")
king['in_smarter'] = king[['ID1', 'ID2']].apply(lambda x: x['ID1'][2:4] == 'CH' and x['ID2'][2:4] == 'CH', axis=1)
king = king[king['in_smarter'] == False]
king.head()

,FID1,ID1,FID2,ID2,N,N_IBS0,N_IBS1,N_IBS2,Concord,HomConc,HetConc,in_smarter
0,ALP,ITCH-ALP-000000268,ALP,ALP215,43680,0,0,43680,1.0,1.0,1.0,False
1,ALP,ITCH-ALP-000000270,ALP,ALP216,43584,0,0,43584,1.0,1.0,1.0,False
2,ALP,ITCH-ALP-000000271,ALP,ALP217,43678,0,0,43678,1.0,1.0,1.0,False
3,ALP,ITCH-ALP-000000272,ALP,ALP218,43658,0,0,43658,1.0,1.0,1.0,False
4,ALP,ITCH-ALP-000000273,ALP,ALP219,43676,0,0,43676,1.0,1.0,1.0,False

Let's count how many duplicates I have between the two datasets (SMARTER vs *cortellari*)

In [6]:
king[['FID1', 'FID2']].value_counts()

FID1  FID2
ALP   ALP     139
RME   RME      45
SAR   SAR      33
GGT   GIR      24
VAL   VAL      24
SAA   SAA      24
NIC   NIC      24
ARG   ARG      24
VSS   VPS      24
BIO   BIO      24
ASP   ASP      24
DIT   TER      23
ORO   ORO      23
GAR   GAR      20
CCG   GCI      19
MLT   MAL      16
JON   JON      16
MLS   SAM      15
BEZ   BEZ       7
dtype: int64

Ok, write the sample names into a file. This samples will be excluded from the *cortellari* dataset

In [7]:
king['ID2'].to_csv('to_remove.csv')